body {
  margin: 0;
  font-family: "Poppins";
  background: #4DE3BF;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

#header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4vw;
  font-weight: 700;
  color: white;
  top: 2.5vh;
  width: 62.5vw;
  height: 10vh;
}

#card {
  background: white;
  color: #3D3D3D;
  border-radius: 25px;
  width: 45vw;
  height: 90vh;
  margin-top: 20vh;
  font-size: 7vh;
  font-weight: 600;
  overflow-y: scroll;
  z-index: 2;
}

#card-grid {
  padding: 3vw;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2vw;
  margin-bottom: 5vh;
}

#card-shadow {
  display: flex;
  position: absolute;
  background: #00000045;
  border-radius: 25px;
  width: 45vw;
  height: 90vh;
  margin-top: 30vh;
  justify-content: center;
  align-items: center;
  margin-bottom: 0vh;
  margin-right: 7.5vh;
}

#reveal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  background: #E34D4D;
  font-size: 3vh;
  color: white;
  width: 100vw;
  height: 7.5vh;
}

#navigation-icon {
  width: 5vw;
}

#navigation-icon-mini {
  width: 3vw;
}

#navigation {
  position: absolute;
  left: 50px;
  top: 50px;
}

#card-navigation {
  display: flex;
  position: absolute;
  bottom: 50vh;
  gap: 70vw;
}

#character {
  display: flex;
  flex: 1 1 calc(20% - 2vw);
  align-items: center;
  justify-content: center;
  font-size: 3vw;
  border-radius: 1.5vw;
  background: rgb(197, 197, 197);
  aspect-ratio: 1 / 1;
  width: 6vw;
}

.mirror {
  transform: scale(-1);
}