body {
  margin: 0;
  font-family: "Poppins";
  background: #4DE3BF;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

#header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6vh;
  font-weight: 700;
  color: white;
  top: 2.5vh;
  width: 62.5vw;
  height: 10vh;
}

#card {
  display: flex;
  background: white;
  color: #3D3D3D;
  border-radius: 25px;
  width: 62.5vw;
  height: 62.5vh;
  margin-bottom: 7.5vh;
  font-size: 7vh;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

#card-shadow {
  display: flex;
  position: absolute;
  background: #00000045;
  border-radius: 25px;
  width: 62.5vw;
  height: 62.5vh;
  justify-content: center;
  align-items: center;
  margin-bottom: 0vh;
  margin-right: 7.5vh;
}

#reveal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  background: #E34D4D;
  font-size: 3vh;
  color: white;
  width: 100vw;
  height: 7.5vh;
}

#navigation-icon {
  width: 5vw;
}

#navigation-icon-mini {
  width: 3vw;
}

#navigation {
  position: absolute;
  left: 50px;
  top: 50px;
}

#card-navigation {
  display: flex;
  position: absolute;
  bottom: calc(50vh - 5px);
  gap: 70vw;
}

.mirror {
  transform: scale(-1);
}